.header{
    width:100%;
    height:5.2rem;
    background-color:  rgb(97, 226, 189);
    background-image: linear-gradient( rgb(97, 226, 189),rgb(137, 197, 223));
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: large;
    box-shadow: 2.5px 3px 10px black;
    padding: 0 10%;
    z-index:0;
}

.main-image{
    width: 100%;
    height: 20rem;
    z-index: 0;
    overflow: hidden;
    
}

.main-image img{
    
    width: 110%;
    height: 100%;
    object-fit: fill;
    
}